@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    font-family: 'Nunito Sans', sans-serif;
}

header {
    font-weight: 700;
    font-size: large;
    background-color: #0a1c3a;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    margin-bottom: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.active {
    font-weight: 900;
}

footer {
    background-color: #0a1c3a;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

body {
    background-color: #0a1c3a;
    color: #fff;
}

header img {
    max-width: 100%;
    filter: invert(100%);
}


.navbar-brand {
    max-width: 2.5rem;
}

.social-icon{
    font-size: 1.5rem;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
    margin: 1rem 0.5rem;
}

.social-icon:hover {
    transform: scale(1.5);
    filter: grayscale(0%);
}

.social-icon img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}


.input-error {
    height: 15px;
    color: red;
}

.img-div {
    margin: 0.5rem;
    height: 25vh;
}

.img-div img {
    width: 100%;
    height: 100%;
}


.error-active{
    border: 1px solid red;
}